.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.opening-hours {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.opening-hours th, .opening-hours td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.opening-hours th {
    background-color: #555;
}

.note {
    margin-top: 20px;
    color: #fff;
    text-align: left;
    font-size: 1.2em;
}

@media (max-width: 600px) {
    .opening-hours {
        width: 90%;
    }
}
