.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(135deg, rgba(76, 75, 255, 0.7), rgba(160, 234, 255, 0.7)) no-repeat center center;
    z-index: 1;
}

.App::before,
.App::after {
    content: '';
    position: absolute;
    width: 10vw;
    /*width: 250px;*/
    /*height: 250px;*/
    height: 30vh;
    background-image: url('./rose-removebg.png');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    z-index: -1;
}

.App::before {
    left: -5%;
    transform: translateY(10%) rotate(45deg); /* Drobne przesunięcie w dół */
}

.App::after {
    right: -5%;
    transform: translateY(0) rotate(-45deg); /* Ustawienie bez przesunięcia w Y */
}

.content {
    flex: 1;
}







.content {
    flex: 1;
}

.App-header {
    width: 100%;
    padding: 30px;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 90%;
    max-width: 20000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.logo-container {
    position: absolute;
    text-decoration: none;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links-container {
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.logo {
    font-size: 2.5vw;
    font-weight: bold;
    color: #fff;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2%;
    margin: 0;
    padding: 0;
}

.nav-links li {
    white-space: nowrap;
    margin-left: 2%;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    transition: color 0.7s;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-links a:hover {
    color: #a0eaff;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-links-id {
    font-weight: bold;
    width: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-item {
    margin: 0 10px;
}

@media (max-width: 1200px) {
    .logo {
        font-size: 3vw;
    }

    .nav-links a {
        font-size: 2vw;
    }

    .logo-container {
        position: absolute;
        left: 1%;
        transform: translateX(1%);
    }
}

@media (max-width: 600px) {
    .logo {
        font-size: 4vw;
    }

    .nav-links a {
        font-size: 3vw;
    }

    .nav-links {
        flex-direction: column;
        max-height: 10000px;
        gap: 2vh;
        align-items: flex-start;
        margin-top: 10px;
    }

    .nav-links li {
        margin-left: 0;
        font-size: 1.5vw;
        width: 100%;
    }

    .nav-links a {
        padding: 10px 0;
        text-align: left;
    }

    .footer-item {
        font-size: 2vw;
    }

    .footer-item.owner {
        display: none;
    }
}
